<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns:p="http://www.springframework.org/schema/p" 
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
    
    <http use-expressions="true" auto-config="true" >
        <intercept-url pattern="/login.html" access="permitAll" />
        <intercept-url pattern="/logout.html" access="permitAll" />
        <intercept-url pattern="/denied.html" access="permitAll" />
        <intercept-url pattern="/failure.html" access="permitAll" />
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/resource/**" access="permitAll" />
        <intercept-url pattern="/authentication/**" access="permitAll" />
        <intercept-url pattern="/api/languages/**" access="permitAll" />
        <intercept-url pattern="/signin/**" access="permitAll" />
        <intercept-url pattern="/api/dictionary/social" access="permitAll" />
        <intercept-url pattern="/api/exercise/result/**" access="permitAll" />
        <intercept-url pattern="/result/**" access="permitAll" />
        <intercept-url pattern="/**" access="isAuthenticated()" />   
        <form-login login-page="/login.html" authentication-success-handler-ref="authenticationSuccessHandler" authentication-failure-url="/failure.html"/>
        <logout invalidate-session="true" logout-success-url="/logout.html"/>
        <remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" token-validity-seconds="864000" />
        <access-denied-handler error-page="/denied.html"/>
    </http>
    
    <beans:bean id="localAuthenticationService" class="pl.jakubpiecuch.trainingmanager.web.authentication.LocalAuthenticationService">
        <beans:property name="usersDao" ref="usersDao"/>
        <beans:property name="calendarsDao" ref="calendarsDao"/>
        <beans:property name="passwordEncoder" ref="shaPasswordEncoder"/>
        <beans:property name="cryptService" ref="cryptService"/>
        <beans:property name="emailService" ref="emailService"/>
    </beans:bean>
    
    <beans:bean id="shaPasswordEncoder" class="pl.jakubpiecuch.trainingmanager.web.authentication.SHAPasswordEncoder"><beans:property name="strength" value="256"/></beans:bean>
 
    <authentication-manager><authentication-provider ref="localAuthenticationProvider"></authentication-provider></authentication-manager>
</beans:beans>