<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <context:annotation-config />
    <context:component-scan base-package="pl.jakubpiecuch.trainingmanager.*" />
    
    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <mvc:interceptors>  
        <mvc:interceptor>  
            <mvc:mapping path="/**"/>  
            <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">  
                <property name="paramName" value="lang" />  
            </bean>  
        </mvc:interceptor>  
    </mvc:interceptors>  
    
    <util:properties id="propertyConfigurer" location="classpath:${environment}.properties"/>
    <context:property-placeholder properties-ref="propertyConfigurer" />
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames" >
            <list>
                <value>classpath:bundles/web/web</value>
                <value>classpath:bundles/policy/policy</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>
    
    <bean id="emailMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames" value="classpath:bundles/email/email" />
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>
 
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="lang" />
    </bean>
 
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>
    
    <bean id="dictionaryService" class="pl.jakubpiecuch.trainingmanager.service.dictionary.DictionaryDBService">
        <property name="daos">
            <map>
                <entry key="bars"  value-ref="barsDao"/>
                <entry key="benches" value-ref="benchesDao"/>
                <entry key="dumbbells" value-ref="dumbbellsDao"/>
                <entry key="loads" value-ref="loadsDao"/>
                <entry key="necks" value-ref="necksDao"/>
                <entry key="press" value-ref="pressDao"/>
                <entry key="stands" value-ref="standsDao"/>
            </map>
        </property>
    </bean>
    
    <bean id="passwordValidator" class="pl.jakubpiecuch.trainingmanager.web.validator.PasswordValidator">
        <property name="maxPasswordLength" value="${user.password.maxLength}"/>
        <property name="minPasswordLength" value="${user.password.minLength}"/>
        <property name="passwordPattern" value="${user.password.pattern}"/>
    </bean>
    
    <bean id="userValidator" class="pl.jakubpiecuch.trainingmanager.web.validator.UserValidator">
        <property name="emailPattern" value="${user.email.pattern}"/>
        <property name="maxNameLength" value="${user.name.maxLength}"/>
        <property name="minNameLength" value="${user.name.minLength}"/>
        <property name="namePattern" value="${user.name.pattern}"/>
        <property name="passwordValidator" ref="passwordValidator"/>
    </bean>
    
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean" >
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
                <prop key="dateToolAttribute">org.apache.velocity.tools.generic.DateTool</prop>
            </props>
        </property>
    </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="${mail.user}" />
        <property name="password" value="${mail.password}" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
	</property>
    </bean>
    
    <bean id="emailService" class="pl.jakubpiecuch.trainingmanager.service.mail.GmailService">
        <property name="encoding" value="UTF-8"/>
        <property name="mailSender" ref="mailSender"/>
        <property name="messageSource" ref="emailMessageSource"/>
        <property name="sender" value="${mail.user}"/>
        <property name="templateLocation" value="vm/%s.vm"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>
    
    <bean id="imageResource" class="pl.jakubpiecuch.trainingmanager.service.resource.image.ImageResource">
        <property name="root" value="${resource.directory}/images/"/>
    </bean>
    
    <bean id="resourceController" class="pl.jakubpiecuch.trainingmanager.web.controllers.ResourceController">
        <property name="resourceServices">
            <map>
                <entry key="image" value-ref="imageResource"/>
            </map>
        </property>
    </bean>
    
    <bean id="apiController" class="pl.jakubpiecuch.trainingmanager.web.controllers.ApiController">
        <property name="socialServices">
            <map>
                <entry key="FACEBOOK" value-ref="facebookService"/>
            </map>
        </property>
    </bean>
    
    <import resource="applicationContext-social.xml"/>
</beans>
