<form name="passwordForm" data-ng-show="login.tab.idx === 1" class="forget-form" data-ng-submit="password.submit()" data-ng-controller="PasswordController">
    <section data-ng-init="init(passwordForm)">
        <h3 data-ng-bind="'user.forgot.password' | translate"></h3>
        <p data-ng-bind="'user.enter.email.to.reset.password' | translate"></p>
        <div class="form-group">
            <input data-ng-model="password.email" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{'user.email' | translate}}" name="email"/>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default" data-ng-bind="'back' | translate" data-ng-click="login.tab.setIdx(0)"></button>
            <button type="submit" class="btn btn-success uppercase pull-right" data-ng-bind="'send' | translate"></button>
        </div>
    </section>
</form>