<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/" data-ng-bind="'dashboard' | translate"></a>
		</li>
	</ul>
</div>
<div ng-controller="DashboardController" data-ng-init="init(recordForm)">
	<div class="row">
		<div class="col-md-6">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-speech font-green-sharp"></i>
						<span class="caption-subject bold uppercase"> {{'next.workouts' | translate}}</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fa fa-angle-down" href="#" data-original-title="" title="">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="todo-tasklist">
						<div class="todo-tasklist-item todo-tasklist-item-border-green" data-ng-repeat="workout in dashboard.nextWorkouts.result" data-ng-click="dashboard.goToWorkout(workout.id)">
							<div class="todo-tasklist-item-title">
								<i class="fa fa-calendar"></i> {{workout.date | date}}
							</div>
							<div class="todo-tasklist-item-text">
								{{workout.plan.name}} | {{workout.phase.description}}
							</div>
							<div class="todo-tasklist-controls pull-left">
								<span class="todo-tasklist-date"> {{workout.executions.length}} exercises </span>
								<span class="todo-tasklist-badge badge badge-roundless badge-primary" style="margin-right: 5px;" data-ng-repeat="muscle in workout.muscles">{{muscle | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-speech font-green-sharp"></i>
						<span class="caption-subject bold uppercase"> {{'weight.chart' | translate}}</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fa fa-angle-down" href="#" data-original-title="" title="">
						</a>
					</div>
				</div>
				<div class="portlet-body">
			        <div id="chartdiv" style="width: 100%; height: 300px;"></div>
					<form name="recordForm" data-ng-submit="dashboard.record.create()" novalidate>
						<div id="add-value" class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input name="value" type="text" class="form-control" placeholder="Weight in kg" data-ng-model="dashboard.record.value">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<p class="input-group">
										<input name="date" class="form-control form-control-inline date-picker" is-open="dashboard.record.date.opened" datepicker-popup="{{dashboard.record.date.format}}" type="text" placeholder="Date" data-ng-model="dashboard.record.date.value">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="dashboard.record.date.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</p>
								</div>
							</div>
							<button type="submit" class="btn green" data-ng-bind="'save' | translate"></button>
						</div>
					</form>
                </div>
		</div>
	</div>
        </div>
    </div>