<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/" data-ng-bind="'dashboard' | translate"></a>
		</li>
	</ul>
</div>
<div ng-controller="DashboardController" data-ng-init="init()">
	<div class="row">
		<div class="col-md-6">
			<div class="portlet light bordered" data-ng-include="'resources/tpl/dashboard/workouts.html'" ng-controller="WorkoutsController" data-ng-init="init(columns[0][0])"></div>
			<div class="portlet light bordered" data-ng-include="'resources/tpl/dashboard/chart.html'" ng-controller="ChartController" data-ng-init="init('weight-form', 'wieght-chart', columns[0][1])"></div></div>
		<div class="col-md-6">
            <div class="portlet light bordered" data-ng-include="'resources/tpl/dashboard/chart.html'" ng-controller="ChartController" data-ng-init="init('waist-form', 'waist-chart', columns[1][0])"></div>
			<div class="portlet light bordered" data-ng-include="'resources/tpl/dashboard/column-chart.html'" ng-controller="ColumnChartController" data-ng-init="init('muscle-exercise-chart', 'EXECUTION', columns[1][1])"></div>
			<div class="portlet light bordered" data-ng-include="'resources/tpl/dashboard/pie-chart.html'" ng-controller="PieChartController" data-ng-init="init('user-workout-group-chart', 'USER_WORKOUT', columns[1][2])"></div>
		</div>
	</div>
</div>