<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" data-ng-bind="'dashboard' | translate"></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <a href="#/" data-ng-bind="'descriptions' | translate"></a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover" data-ng-table>
                        <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> Company
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i> Contact
                            </th>
                            <th>
                                <i class="fa fa-shopping-cart"></i> Total
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a href="#">
                                    RedBull </a>
                            </td>
                            <td class="hidden-xs">
                                Mike Nilson
                            </td>
                            <td>
                                2560.60$
                            </td>
                            <td>
                                <a href="#" class="btn default btn-xs purple">
                                    <i class="fa fa-edit"></i> Edit </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="info">
                                </div>
                                <a href="#">
                                    Google </a>
                            </td>
                            <td class="hidden-xs">
                                Adam Larson
                            </td>
                            <td>
                                560.60$
                            </td>
                            <td>
                                <a href="#" class="btn default btn-xs black">
                                    <i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a href="#">
                                    Apple </a>
                            </td>
                            <td class="hidden-xs">
                                Daniel Kim
                            </td>
                            <td>
                                3460.60$
                            </td>
                            <td>
                                <a href="#" class="btn default btn-xs purple">
                                    <i class="fa fa-edit"></i> Edit </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="warning">
                                </div>
                                <a href="#">
                                    Microsoft </a>
                            </td>
                            <td class="hidden-xs">
                                Nick
                            </td>
                            <td>
                                2560.60$
                            </td>
                            <td>
                                <a href="#" class="btn default btn-xs blue">
                                    <i class="fa fa-share"></i> Share </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>