<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" data-ng-bind="'dashboard' | translate"></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <a href="#/equipment" data-ng-bind="'equipment' | translate"></a>
        </li>
    </ul>
</div>
<form name="form" class="form-horizontal" data-ng-controller="EquipmentController" data-ng-init="init(form)"
      data-ng-submit="equipment.create()" novalidate>
    <div class="portlet light bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"
                      data-ng-class="{'font-green-jungle' : equipment.isValid() === true, 'font-red-sunglo ' : equipment.isValid() === false}"
                      data-ng-bind="'equipment' | translate"></span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group"
                     data-ng-class="{'has-success' : validate.isValid(form.type), 'has-error' : validate.isNotValid(form.type)}">
                    <label class="col-md-3 control-label" data-ng-class="{'bold' : form.muscle.$touched}"
                           data-ng-bind="'equipment.type' | translate"></label>

                    <div class="col-md-5">
                        <div class="input-icon right select-right">
                            <i data-ng-if="form.equipment.$touched" class="fa"
                               data-ng-class="{'fa-check' : validate.isValid(form.type), 'fa-exclamation' : validate.isNotValid(form.type)}"></i>
                            <select name="type" data-ng-model="equipment.type" class="form-control" required
                                    tooltip="{{'field.required' | translate}}" tooltip-placement="right" data-ng-change="equipment.changeType()">
                                <option data-ng-repeat="type in dictionary.types" data-ng-bind="type"
                                        value="{{type}}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div data-ng-if="equipment.type" data-ng-include="'resources/tpl/equipment/'+equipment.type.toLowerCase()+'.html'"></div>
            </div>
        </div>
        <div data-ng-include="'resources/tpl/form-submit.html'"></div>
    </div>
</form>