<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo"><a href="index.html"><img src="resources/img/logo-big.png" alt=""/></a></div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" data-ng-init="init()">
    <div id="lang-icons" class="pull-right" data-ng-controller="LocaleController" data-ng-init="locale.init()" style="position: absolute; margin-left: 70%;">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="lang in locale.langs" id="lang-{{lang}}" >
                <a data-ng-click="locale.update(lang)" ng-class="{selected: locale.current === lang}" href=""></a>
            </li>
        </ul>
    </div>
<!-- BEGIN LOGIN FORM -->
<form data-ng-show="login.tab.idx === 0" data-ng-submit="login.signIn(loginForm)" name="loginForm" class="login-form" novalidate>
    <h3 class="form-title" data-ng-bind="'signIn' | translate"></h3>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.name' | translate"></label>
        <input data-ng-model="login.credentials.username" class="has-errors form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{{'user.name' | translate}}" name="username"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.password' | translate"></label>
        <input data-ng-model="login.credentials.password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{{'user.password' | translate}}" name="password"/>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase" data-ng-bind="'app.login.to.app' | translate"></button>
        <label class="rememberme check"><input id="rememberMe" name="rememberMe" type="checkbox" data-ng-model="login.credentials.rememberMe"><label for="rememberMe"><span></span></label> <span data-ng-bind="'user.remember.me' | translate" class="ng-binding"></span> </label>
        <a href="" data-ng-click="login.tab.setIdx(1)" id="forget-password" class="forget-password" data-ng-bind="'user.forgot.password' | translate"></a>
    </div>
</form>
<div class="login-options" data-ng-show="login.tab.idx === 0">
    <h4 data-ng-bind="'user.login.with' | translate"></h4>
    <ul class="social-icons">
        <li><a class="social-icon-color facebook" data-original-title="facebook" href="#"></a></li>
        <li ng-repeat="s in login.social.providers">
            <form id="{{s.id}}-form" action="{{login.social.getUrl(s.id)}}" method="post">
                <input ng-if="s.scope" type="hidden" name="scope" value="{{s.scope}}">
                <input type="submit" class="social-icon-color {{s.id}}"  value=""></a>
            </form>
        </li>
    </ul>
</div>
    <div class="create-account" data-ng-show="login.tab.idx === 0">
        <p><a href="" data-ng-click="login.tab.setIdx(2)" id="register-btn" class="uppercase" data-ng-bind="'user.create.account' | translate"></a></p>
    </div>

<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
<form data-ng-show="login.tab.idx === 1" class="forget-form" data-ng-submit="login.reset.post()">
    <h3 data-ng-bind="'user.forgot.password' | translate"></h3>
    <p data-ng-bind="'user.enter.email.to.reset.password' | translate"></p>
    <div class="form-group">
        <input data-ng-model="login.reset.email" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{'user.email' | translate}}" name="email"/>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn btn-default" data-ng-bind="'back' | translate"></button>
        <button type="submit" class="btn btn-success uppercase pull-right" data-ng-bind="'send' | translate"></button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN REGISTRATION FORM -->
<form data-ng-show="login.tab.idx === 2" class="register-form" action="index.html" method="post">
<h3 data-ng-bind="'signUp' | translate"></h3>
<p class="hint" data-ng-bind="'user.enter.personal.data.below' | translate"></p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.firstName' | translate"></label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'user.firstName' | translate}}" name="fullname"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.firstName' | translate"></label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'user.lastName' | translate}}" name="fullname"/>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.email' | translate"></label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'user.email' | translate}}" name="email"/>
    </div>
<p class="hint" data-ng-bind="'user.account.info' | translate"></p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.name' | translate"></label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'user.name' | translate}}" name="fullname"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.password' | translate"></label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password" placeholder="{{'user.password' | translate}}" name="password"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" data-ng-bind="'user.rPassword' | translate"></label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="r_password" placeholder="{{'user.rPassword' | translate}}" name="rPassword"/>
    </div>
<div class="form-group margin-top-20 margin-bottom-20">
    <label class="check">
        <input type="checkbox" name="tnc" id="tnc"/><label for="tnc"><span></span></label>
        {{'app.i.agree.to' | translate}} <a href="#" data-ng-bind="'app.terms.of.service' | translate"></a> {{'app.and' | translate}} <a href="" ng-click="showPolicy()">{{'app.privacy.policy' | translate}} </a></label>
    <div id="register_tnc_error">
    </div>
</div>
<div class="form-actions">
    <button type="button" id="register-back-btn" class="btn btn-default" data-ng-bind="'back' | translate"></button>
    <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" data-ng-bind="'send' | translate"></button>
</div>
</form>
<!-- END REGISTRATION FORM -->
</div>
<div class="copyright">
    2015 © {{'app.name' | translate}}.
</div>
<!-- END PAGE LEVEL SCRIPTS -->