<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo"><a href="index.html"><img src="resources/img/logo-big.png" alt=""/></a></div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" data-ng-init="init()">
    <div id="lang-icons" class="pull-right" data-ng-controller="LocaleController" data-ng-init="locale.init()" style="position: absolute; margin-left: 70%;">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="lang in locale.langs" id="lang-{{lang}}" >
                <a data-ng-click="locale.update(lang)" ng-class="{selected: locale.current === lang}" href=""></a>
            </li>
        </ul>
    </div>
<!-- BEGIN LOGIN FORM -->
    <section data-ng-include="'resources/tpl/login/login.html'"></section>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
    <section data-ng-include="'resources/tpl/login/password.html'"></section>
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN REGISTRATION FORM -->
    <section data-ng-include="'resources/tpl/login/register.html'"></section>
<!-- END REGISTRATION FORM -->
</div>
<div class="copyright">
    2015 © {{'app.name' | translate}}.
</div>
<!-- END PAGE LEVEL SCRIPTS -->