<section data-ng-controller="PlanController" data-ng-init="init(planForm)" data-ng-cloak>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/" data-ng-bind="'dashboard' | translate"></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-list"></i>
                <a href="#/plans" data-ng-bind="'plans' | translate"></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-calendar"></i>
                <a href="#/plan{{plan.id ? '?id=' + plan.id : ''}}" data-ng-bind="'plan' | translate"></a>
            </li>
        </ul>
    </div>
    <form data-ng-if="plan.id" name="starterForm" class="form-horizontal" data-ng-submit="starter.start(starterForm)" novalidate>
        <div class="form-body">
            <div class="row">
                <div class="col-md-8">
                <div class="col-md-2">
                    <label style="font-size: x-large; padding-top: 0px;" class="control-label col-md-12">Start plan</label>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label col-md-3">Year</label>
                        <div class="col-md-9">
                            <select class="form-control" data-ng-model="starter.year" required name="year" data-ng-options="year for year in starter.years" data-ng-change="starter.getWeeks()"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-error">
                        <label class="control-label col-md-3">Week</label>
                        <div class="col-md-9">
                            <select class="form-control" data-ng-model="starter.week" required name="week" data-ng-options="week for week in starter.weeks"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn green" data-ng-bind="'save' | translate"></button>
                </div>
                </div>
            </div>
        </div>
    </form>
    <form name="planForm" class="form-horizontal plan" data-ng-submit="plan.submit()" novalidate data-ng-include="'resources/tpl/plan/plan.html'"></form>
</section>