<div ng-controller="WorkoutController" data-ng-init="init()">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#/workout" data-ng-bind="'workout' | translate"></a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="portlet light bg-inverse">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-equalizer font-red-sunglo"></i>
					<span class="caption-subject bold uppercase" data-ng-bind="workout.date | date"></span>
						<button data-ng-if="workout.state === 'PLANNED'" type="button" class="btn btn-sm" data-ng-class="states['IN_PROGRESS'].color.name" data-ng-click="workout.start()">
							<i data-ng-class="states['IN_PROGRESS'].icon" class="fa-spin"></i> {{'start' | translate}}
						</button>
						<button data-ng-if="workout.state === 'IN_PROGRESS' && workout.hasExecutionsDone()" type="button" class="btn btn-sm" data-ng-class="states['COMPLETED'].color.name" data-ng-click="workout.complete()">
							<i data-ng-class="states['COMPLETED'].icon"></i> {{'confirm' | translate}}
						</button>
						<button data-ng-if="workout.state !== 'REJECTED' && workout.state !== 'COMPLETED'" type="button" class="btn btn-sm" data-ng-class="states['REJECTED'].color.name" data-ng-click="workout.reject()">
							<i data-ng-class="states['REJECTED'].icon"></i> {{'reject' | translate}}
						</button>
				</div>
			</div>
			<div class="portlet-body form">
				<div class="row">
					<div class="col-md-3">
						<div class="bordered portlet light bg-inverse">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-equalizer font-red-sunglo"></i>
									<span class="caption-subject bold uppercase"  data-ng-bind="'plan' | translate"></span>
                                    <span class="caption-helper" data-ng-bind="workout.plan.name"></span>
                                </div>
							</div>
							<div class="portlet-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"
                                           data-ng-bind="'plan.goal' | translate"></label>
                                    <div class="col-md-9" data-ng-bind="workout.plan.goal | translate">
                                    </div>
                                </div>
							</div>
						</div>
						<div class="bordered portlet light bg-inverse">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-equalizer font-red-sunglo"></i>
									<span class="caption-subject bold uppercase"  data-ng-bind="'phase' | translate"></span>
                                    <span class="caption-helper" data-ng-bind="workout.phase.position"></span>
								</div>
							</div>
							<div class="portlet-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"
                                           data-ng-bind="'phase.goal' | translate"></label>
                                    <div class="col-md-9" data-ng-bind="workout.phase.goal | translate">
                                    </div>
                                </div>
							</div>
						</div>
						<div class="bordered portlet light bg-inverse">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-equalizer font-red-sunglo"></i>
									<span class="caption-subject bold uppercase"  data-ng-bind="'weekDay.' + workout.weekDay + '.full' | translate"></span>
								</div>
							</div>
							<div class="portlet-body" >
                                <div class="row pull=left">
                                    <label class="col-md-3 control-label"
                                           data-ng-bind="'workout.muscle' | translate"></label>
                                    <div class="col-md-9">
										<span class="label label-primary" style="display: inline-block; margin-right: 5px; margin-top: 5px;" data-ng-repeat="muscle in workout.muscles" data-ng-bind="muscle | translate" ></span>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<form class="form-horizontal" data-ng-repeat="execution in workout.executions | orderBy : ['exercise.group', 'exercise.position']" name="form" data-ng-submit="execution.save(form)" novalidate>
							<div data-ng-if="workout.isFirstInSuperSet(execution)" class="super-set-title">
								<span><i class="fa fa-star-o"></i> {{'superSet' | translate}}</span>
							</div>
							<div class="bordered portlet light bg-inverse" data-ng-class="{'super-set' : workout.isInSuperSet(execution)}">
								<div class="portlet-title">
									<div class="caption">
										<i class="icon-equalizer font-red-sunglo"></i>
										<span class="caption-subject bold uppercase" data-ng-class="{'font-green-jungle' : execution.isValid() === true, 'font-red-sunglo' : execution.isValid() === false}" data-ng-bind="('exercise' | translate) + ' ' + ($index +1)"></span>
										<span class="caption-helper" data-ng-bind="execution.exercise.description.name"></span>
									</div>
									<div class="actions">
										<a class="btn btn-circle btn-icon-only btn-default" href="" data-ng-click="execution.visible = !execution.visible">
											<i class="fa fa-angle-double-down"></i>
										</a>
									</div>
								</div>
								<div class="portlet-body form" data-ng-hide="execution.visible === false">
									<div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"
                                                   data-ng-bind="'description.muscles' | translate"></label>
                                            <div class="col-md-9">
                                                <span class="form-control-static" data-ng-bind="execution.exercise.description.muscles | translate"></span>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-if="execution.exercise.description.movieUrl">
                                            <label class="col-md-3 control-label"
                                                   data-ng-bind="'description.movieUrl' | translate"></label>
                                            <div class="col-md-9">
                                                <span class="form-control-static">
                                                	<a ng-href="{{execution.exercise.description.movieUrl}}" target="_blank">{{'video.watch' | translate}}</a>
												</span>
												<span data-ng-if="videoProvider.getProvider(execution.exercise.description.movieUrl) === 'youtube'">
													<youtube-video video-url="execution.exercise.description.movieUrl" player-width="'100%'"></youtube-video>
												</span>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-if="execution.exercise.description.description">
                                            <label class="col-md-3 control-label"
                                                   data-ng-bind="'description.description' | translate"></label>
                                            <div class="col-md-9">
                                                <span class="form-control-static" data-ng-bind-html="execution.exercise.description.description">
                                                </span>
                                            </div>
                                        </div>
										<div class="form-group">
											<label class="col-md-3 control-label">
													{{'exercise.sets' | translate}}&nbsp;{{execution.exercise.description.lateral === 'UNILATERAL' ? ('(' + ('exercise.eachSide' | translate) + ')') : ''}}
											</label>
											<div class="col-md-9">
												<div class="col-md-2" data-ng-repeat="set in execution.exercise.sets track by $index" >
                                                    <span class="form-control-static">{{set}}</span>
                                                </div>

											</div>
										</div>
										<section data-ng-include="'resources/tpl/execution/'+execution.exercise.description.lateral.toLowerCase()+'-sets.html'"></section>
									</div>
								</div>
								<section data-ng-if="workout.state === 'IN_PROGRESS'">
									<button data-ng-if="execution.state === 'PLANNED'" type="button" class="btn btn-sm" data-ng-class="states['IN_PROGRESS'].color.name" data-ng-click="execution.start(form)">
										<i data-ng-class="states['IN_PROGRESS'].icon" class="fa-spin"></i> {{'start' | translate}}
									</button>
									<button data-ng-if="execution.state === 'IN_PROGRESS'" type="submit" class="btn btn-sm" data-ng-class="states['PLANNED'].color.name">
										<i data-ng-class="states['PLANNED'].icon"></i> {{'save' | translate}}
									</button>
									<button data-ng-if="execution.state === 'IN_PROGRESS'" type="button" class="btn btn-sm" data-ng-class="states['COMPLETED'].color.name" data-ng-click="execution.confirm(form)">
										<i data-ng-class="states['COMPLETED'].icon"></i> {{'confirm' | translate}}
									</button>
									<button data-ng-if="execution.state !== 'REJECTED' && execution.state !== 'COMPLETED'" type="button" class="btn btn-sm" data-ng-class="states['REJECTED'].color.name" data-ng-click="execution.reject(form)">
										<i data-ng-class="states['REJECTED'].icon"></i> {{'reject' | translate}}
									</button>
								</section>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>