<div class="form-group" data-ng-class="{'has-success' : validate.isValid(form.length), 'has-error' : validate.isNotValid(form.length)}">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.length' | translate" data-ng-class="{'bold' : form.length.$touched}"></label>

	<div class="col-md-5">
		<input name="length" type="text" class="form-control"
			   data-ng-model="equipment.length" required
			   tooltip="{{'field.required' | translate}}" tooltip-placement="right">
	</div>
</div>
<div class="form-group" data-ng-class="{'has-success' : validate.isValid(form.strength), 'has-error' : validate.isNotValid(form.strength)}">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.strength' | translate" data-ng-class="{'bold' : form.strength.$touched}"></label>

	<div class="col-md-5">
		<input name="strength" type="text" class="form-control"
			   data-ng-model="equipment.strength" required
			   tooltip="{{'field.required' | translate}}" tooltip-placement="right">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.height' | translate" data-ng-class="{'bold' : form.height.$touched}"></label>

	<div class="col-md-5">
		<input name="height" type="text" class="form-control"
			   data-ng-model="equipment.config.height" required
			   tooltip="{{'field.required' | translate}}" tooltip-placement="right">
	</div>
</div>