<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.weight' | translate"></label>

	<div class="col-md-5">
		<input name="weight" type="text" class="form-control"
			   placeholder="{{'equipment.weight.placeholder' | translate}}"
			   data-ng-model="equipment.weight">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.length' | translate"></label>

	<div class="col-md-5">
		<input name="length" type="text" class="form-control"
			   placeholder="{{'equipment.length.placeholder' | translate}}"
			   data-ng-model="equipment.length" required
			   tooltip="{{'field.required' | translate}}" tooltip-placement="right">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.strength' | translate"></label>

	<div class="col-md-5">
		<input name="strength" type="text" class="form-control"
			   placeholder="{{'equipment.strength.placeholder' | translate}}"
			   data-ng-model="equipment.strength" required
			   tooltip="{{'field.required' | translate}}" tooltip-placement="right">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.connectedLoad' | translate"></label>

	<div class="col-md-5">
		<label class="checkbox">
			<input id="connectedLoad" name="connectedLoad" type="checkbox" data-ng-model="equipment.config.connectedLoad">
			<label for="connectedLoad"><span></span></label>
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label" data-ng-bind="'equipment.neckType' | translate"></label>
<div class="col-md-5">
	<div class="input-icon right select-right">
		<i data-ng-if="form.equipment.$touched" class="fa"
		   data-ng-class="{'fa-check' : validate.isValid(form.type), 'fa-exclamation' : validate.isNotValid(form.type)}"></i>
		<select name="neckType" data-ng-model="equipment.config.type" class="form-control" required
				tooltip="{{'field.required' | translate}}" tooltip-placement="right">
			<option data-ng-repeat="neckType in dictionary.neckTypes" data-ng-bind="neckType"
					value="{{neckType}}"></option>
		</select>
	</div>
</div>
	</div>