<div class="bordered portlet light bg-inverse" data-ng-class="{'super-set' : group.exercises.length > 1}">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject bold uppercase" data-ng-bind="'exercise' | translate"></span>
            <span class="caption-helper" data-ng-bind="::exercise.description.name"></span>
        </div>
        <div class="actions">
            <a class="btn btn-icon-only btn-default" href="" data-ng-click="plan.phase.workout.group.moveExercise($index, -1)">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="btn btn-icon-only btn-default" href="" data-ng-click="plan.phase.workout.group.moveExercise($index, 1)">
                <i class="fa fa-chevron-down"></i>
            </a>
            <a data-ng-if="plan.editable" class="btn btn-icon-only red btn-default" href="" data-ng-click="plan.phase.workout.group.removeExercise(exercise)">
                <i class="icon-trash" style="color: white"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body" data-ng-hide="exercise.visible === false">
        <div class="form-group">
            <label class="col-md-3 control-label"
                   data-ng-bind="'description.muscles' | translate"></label>
            <div class="col-md-9">
                <span class="form-control-static" data-ng-bind="::(exercise.description.muscles | translate)"></span>
            </div>
        </div>
        <div class="form-group" data-ng-if="exercise.description.movieUrl">
            <label class="col-md-3 control-label"
                   data-ng-bind="'description.movieUrl' | translate"></label>
            <div class="col-md-9">
                <span class="form-control-static">
                    <a ng-href="{{exercise.description.movieUrl}}" target="_blank">Watch</a>
                </span>
            </div>
        </div>
        <div class="form-group" data-ng-if="exercise.description.description">
            <label class="col-md-3 control-label"
                   data-ng-bind="'description.description' | translate"></label>
            <div class="col-md-9">
                <span class="form-control-static" data-ng-bind-html="::exercise.description.description"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">
                {{'exercise.sets' | translate}}&nbsp;{{::exercise.description.lateral === 'UNILATERAL' ? ('(' + ('exercise.eachSide' | translate) + ')') : ''}}
            </label>
            <div class="col-md-9">
                <div class="col-md-2" data-ng-repeat="set in exercise.sets track by $index" data-ng-class="{'has-success' : exercise.sets[$index].isValid(), 'has-error' : exercise.sets[$index].isValid() === false}">
                    <div class="input-icon right" data-ng-if="plan.editable" dropdown>
                        <i class="fa fa-angle-down" style="cursor: pointer;"  dropdown-toggle></i>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ng-click="exercise.removeSet($index)">Remove</a></li>
                            <li data-ng-if="set.value !== 'FAIL'"><a data-ng-click="exercise.toFail($index)">To fail</a></li>
                            <li data-ng-if="set.value === 'FAIL'"><a data-ng-click="exercise.reps($index)">Reps</a></li>
                        </ul>
                        <input data-ng-disabled="set.value === 'FAIL'" data-only-digits name="exerciseSet{{$index}}" type="text" class="form-control" data-ng-model="exercise.sets[$index].value" required data-ng-blur="exercise.sets[$index].touch()">
                    </div>
                    <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="set"></span>
                </div>
                <a href="" class="btn btn-icon-only" data-ng-click="exercise.addSet()" data-ng-if="plan.editable">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>