<div class="portlet-title">
    <div class="actions">
        <a class="btn btn-icon-only btn-default" href="" data-ng-click="plan.movePhase(plan.phase,-1)" data-ng-if="plan.phase.position > 1">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="btn btn-icon-only btn-default" href="" data-ng-click="plan.movePhase(plan.phase,1)" data-ng-if="!plan.isPhaseLast(plan.phase)">
            <i class="fa fa-chevron-right"></i>
        </a>
        <a class="btn btn-icon-only red" href="" data-ng-click="plan.removePhase(plan.phase)">
            <i class="icon-trash"></i>
        </a>
    </div>
</div>
<div class="portlet-body">
    <div class="form-body">
        <div class="form-group" data-ng-class="{'has-success' : plan.phase.description.isValid(), 'has-error' : plan.phase.description.isValid() === false}">
            <label class="col-md-3 control-label" data-ng-class="{'bold' : plan.phase.description.isTouched()}"><span data-ng-bind="'phase.description' | translate" tooltip="{{'field.required' | translate}}"  tooltip-placement="top"></span></label>
            <div class="col-md-4">
                <div class="input-icon right" data-ng-if="plan.editable">
                    <i data-ng-if="plan.phase.description.isTouched()" class="fa" data-ng-class="{'fa-check' : plan.phase.description.isValid(), 'fa-exclamation' : !plan.phase.description.isValid()}"></i>
                    <input name="planName" type="text" class="form-control" placeholder="{{'phase.description.placeholder' | translate}}"
                           data-ng-model="plan.phase.description.value" required data-ng-blur="plan.phase.description.touch()">
                </div>
                <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="plan.phase.description.value"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><span data-ng-bind="'plan.phase.goal' | translate" tooltip="{{'field.required' | translate}}"  tooltip-placement="top"></span></label>
            <div class="col-md-4">
                <div class="input-icon right select-right" data-ng-if="plan.editable">
                    <i data-ng-if="plan.phase.goal.isTouched()" class="fa" data-ng-class="{'fa-check' : plan.phase.goal.isValid(), 'fa-exclamation' : !plan.phase.goal.isValid()}"></i>
                    <select class="form-control" data-ng-model="plan.phase.goal.value" required name="planGoal" data-ng-blur="plan.phase.goal.touch()">
                        <option data-ng-repeat="goal in dictionary.goals track by $index" data-ng-bind="goal"
                                value="{{goal}}"></option>
                    </select>
                </div>
                <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="plan.phase.goal.value"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><span data-ng-bind="'plan.phase.weeks' | translate" tooltip="{{'field.required' | translate}}"  tooltip-placement="top"></span></label>
            <div class="col-md-4">
                <div class="input-icon right select-right" data-ng-if="plan.editable">
                    <i data-ng-if="plan.phase.weeks.isTouched()" class="fa" data-ng-class="{'fa-check' : plan.phase.weeks.isValid(), 'fa-exclamation' : !plan.phase.weeks.isValid()}"></i>
                    <select class="form-control" data-ng-model="plan.phase.weeks.value" required name="planGoal" data-ng-blur="plan.phase.weeks.touch()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="plan.phase.weeks.value"></span>
            </div>
        </div>
        <div class="form-group" data-ng-if="plan.editable">
            <label class="col-md-3 control-label" data-ng-bind="'plan.phase.weekDays' | translate"></label>
            <div class="col-md-4">
                <div class="small-tiles">
                    <div class="small-tile" data-ng-repeat="weekDay in dictionary.weekDays | orderBy : 'weekDay' "
                         data-ng-class="{'bg-grey-cascade' : !plan.phase.containsWeekDay(weekDay), 'bg-green-jungle' : plan.phase.isValidWeekDay(weekDay) === true, 'bg-red-sunglo' : plan.phase.isValidWeekDay(weekDay) === false || plan.phase.containsWeekDay(weekDay) && plan.phase.isValidWeekDay(weekDay) === undefined}"
                         data-ng-click="plan.phase.updateWorkout(weekDay)">
                        <div class="small-tile-body">
                            <span data-ng-bind="'weekDay.' + weekDay + '.short' | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabbable tabbable-custom" data-ng-if="plan.phase.workouts.length > 0">
                <ul class="nav nav-tabs">
                    <li ng-repeat="workout in plan.phase.workouts | orderBy : 'weekDay'" ng-class="{'active' : plan.phase.isWorkoutActive(workout)}"><a ng-click="plan.phase.activateWorkout(workout)">{{('weekDay.' + workout.weekDay + '.full' | translate)}} <i data-ng-if="workout.hasErrors()" class="fa fa-exclamation-circle text-danger"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active portlet light" data-ng-include="'resources/tpl/plan/workout.html'"></div>
                </div>
        </div>
    </div>
</div>