<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject bold uppercase" data-ng-bind="'plan' | translate"></span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-group" data-ng-class="{'has-success' : validate.isValid(planForm.planName), 'has-error' : validate.isNotValid(planForm.planName)}">
                <label class="col-md-3 control-label" data-ng-class="{'bold' : planForm.planName.$touched}" data-ng-bind="'plan.name' | translate"></label>
                <div class="col-md-4">
                    <div class="input-icon right" data-ng-if="plan.editable">
                        <i data-ng-if="planForm.planName.$touched" class="fa" data-ng-class="{'fa-check' : validate.isValid(planForm.planName), 'fa-exclamation' : validate.isNotValid(planForm.planName)}"></i>
                        <input name="planName" type="text" class="form-control" placeholder="{{'plan.name.placeholder' | translate}}"
                               data-ng-model="plan.name" required tooltip="{{'field.required' | translate}}"  tooltip-placement="right">
                    </div>
                    <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="plan.name"></span>
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-success' : validate.isValid(planForm.planGoal), 'has-error' : validate.isNotValid(planForm.planGoal)}">
                <label class="col-md-3 control-label" data-ng-class="{'bold' : planForm.planGoal.$touched}" data-ng-bind="'plan.goal' | translate"></label>
                <div class="col-md-4">
                    <div class="input-icon right select-right" data-ng-if="plan.editable">
                        <i data-ng-if="planForm.planGoal.$touched" class="fa" data-ng-class="{'fa-check' : validate.isValid(planForm.planGoal), 'fa-exclamation' : validate.isNotValid(planForm.planGoal)}"></i>
                        <select class="form-control" data-ng-model="plan.goal" required name="planGoal" tooltip="{{'field.required' | translate}}"  tooltip-placement="right">
                            <option data-ng-repeat="goal in dictionary.goals" data-ng-bind="goal"
                                    value="{{goal}}"></option>
                        </select>
                    </div>
                    <span class="form-control-static" data-ng-if="!plan.editable" data-ng-bind="plan.goal"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bordered portlet light bg-inverse" data-ng-repeat="phase in plan.phases" data-ng-include="'resources/tpl/plan/phase.html'" ></div>
    <a data-ng-if="plan.editable" class="btn btn-circle btn-icon-only btn-default" href="" data-ng-click="plan.addPhase()">
        <i class="fa fa-plus"></i>
    </a>
    <div data-ng-if="plan.editable" data-ng-include="'resources/tpl/form-submit.html'"></div>
</div>